@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto Mono', monospace;
}

a{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    
    display: flex;
    flex-flow: row nowrap;
    margin: 20px;
    box-sizing: content-box;
    padding: 5%;
    background-color: rgba(137, 43, 226, 0.274);
    color: darkslategray;
    border-radius: 10px;
    border: 2px solid rgba(137, 43, 226, 1);
    text-decoration: none;
}

a:hover{
    background-color: blueviolet;
}